In [1]:
import pandas as pd
import kagglehub
import os

In [2]:
# Download the dataset from Kaggle
path = kagglehub.dataset_download("ronnykym/online-store-sales-data")
print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).
Path to dataset files: C:\Users\SHAIVIK\.cache\kagglehub\datasets\ronnykym\online-store-sales-data\versions\1

In [6]:
# See the list of files
print(os.listdir(path))

['Sales-Export_2019-2020.csv']

In [8]:
# Replace the filename if it's different
df = pd.read_csv(os.path.join(path, "Sales-Export_2019-2020.csv"))

In [9]:
print(df.head())             # View first few rows
print(df.info())             # Column types & missing values
print(df.describe())         # Stats summary for numeric columns

    country  order_value_EUR       cost         date  category  \
0    Sweden         17,524.02   14122.61   2/12/2020     Books
1   Finland        116,563.40   92807.78   9/26/2019     Games
2  Portugal        296,465.56  257480.34   7/11/2019  Clothing
3  Portugal         74,532.02   59752.32    4/2/2020    Beauty
4     Spain        178,763.42  146621.76  12/22/2019     Games

       customer_name    sales_manager           sales_rep device_type  \
0    Goldner-Dibbert     Maxie Marrow       Madelon Bront      Mobile
1   Hilll-Vandervort       Hube Corey         Wat Bowkley      Mobile
2     Larkin-Collier  Celine Tumasian  Smitty Culverhouse          PC
3  Hessel-Stiedemann  Celine Tumasian        Aurelie Wren          PC
4     Johns and Sons     Emalia Dinse     Bertha Walbrook      Tablet

     order_id
0  70-0511466
1  28-6585323
2  58-7703341
3  14-6700183
4  15-8765160
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            1000 non-null   object
 1    order_value_EUR   1000 non-null   object
 2    cost              1000 non-null   float64
 3   date               1000 non-null   object
 4   category           1000 non-null   object
 5   customer_name      1000 non-null   object
 6   sales_manager      1000 non-null   object
 7   sales_rep          1000 non-null   object
 8   device_type        1000 non-null   object
 9   order_id           1000 non-null   object
dtypes: float64(1), object(9)
memory usage: 78.3+ KB
None
               cost
count    1000.000000
mean    94369.310990
std     51540.020934
min     12113.680000
25%     54247.957500
50%     87094.760000
75%    125570.837500
max    304701.430000

In [10]:
# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Remove commas from order_value_eur and convert to float
df['order_value_eur'] = df['order_value_eur'].str.replace(',', '').astype(float)

# Ensure cost is numeric
df['cost'] = pd.to_numeric(df['cost'], errors='coerce')

# Convert date to datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Handle missing values
df['order_value_eur'].fillna(df['order_value_eur'].mean(), inplace=True)
df['cost'].fillna(0, inplace=True)
df['country'].fillna('Unknown', inplace=True)
df['device_type'].fillna('Unknown', inplace=True)

# Remove duplicates
df.drop_duplicates(inplace=True)

# Reset index
df.reset_index(drop=True, inplace=True)

In [11]:
# Create profit column
df['profit'] = df['order_value_eur'] - df['cost']

In [12]:
# Preview cleaned data
print(df.head())

# Save cleaned version if needed
df.to_csv("cleaned_sales_data.csv", index=False)

    country  order_value_eur       cost       date  category  \
0    Sweden         17524.02   14122.61 2020-02-12     Books
1   Finland        116563.40   92807.78 2019-09-26     Games
2  Portugal        296465.56  257480.34 2019-07-11  Clothing
3  Portugal         74532.02   59752.32 2020-04-02    Beauty
4     Spain        178763.42  146621.76 2019-12-22     Games

       customer_name    sales_manager           sales_rep device_type  \
0    Goldner-Dibbert     Maxie Marrow       Madelon Bront      Mobile
1   Hilll-Vandervort       Hube Corey         Wat Bowkley      Mobile
2     Larkin-Collier  Celine Tumasian  Smitty Culverhouse          PC
3  Hessel-Stiedemann  Celine Tumasian        Aurelie Wren          PC
4     Johns and Sons     Emalia Dinse     Bertha Walbrook      Tablet

     order_id    profit
0  70-0511466   3401.41
1  28-6585323  23755.62
2  58-7703341  38985.22
3  14-6700183  14779.70
4  15-8765160  32141.66

In [13]:
df.to_csv('cleaned_sales.csv', index=False)